#box{
	background-color: orange;
	width: 40%;
	height: 100%;
	position: fixed;
	border: 10px;
	right: 30%;
	top: -10px;
}
@media only screen and (max-width: 500px) {
	#box{width:80%}
	}
*{
	margin-top: 10px;
}
input[type="text"],input[type="button"]{
	display: block;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	border: 1px black;
}
input[type="text"]:focus{
	border-width: 5px;
}
input[type="button"]{
	border: 3px white;
	background-color: orange;
	font-weight: bold;
	color: white;
}
#icon{
	transition: padding 1s;
}
#icon:hover{
	background-color: white;
	border-radius: 50%;
	padding: 20px;
}
input[type="button"]:hover{
	background-color: white;
	color: orange;
}