.serviceItem{
padding: 5px;
text-align: left 5px;
color: white;
background-color: #443E3D;
list-style-type: none;
}
#topper{
	background-color: #4B64A4;
	width: 100%;
	padding: 10px;
	height:10%;
	text-align: left;
	color: white;
	position: fixed;
	z-index: 1;
}
.icon{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 5px;
}
.icon:hover{
	background-color: white;
}
#banner{
	width: 25%;
	left:-20%;
	background-color: #443E3D;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	padding-top: 12%;
	transition: left 1s;
}
#banner:hover + #Window
{
	left: 0%;

}
#title{
	position: fixed;
	border: none;
	top: 20%;
	left: 50%;
	border-radius: 20px;
	background-color: transparent;
	color: white;
	z-index: 2;
	font-size: 35px;
	padding: 10px;
}
#title:hover{
	border:solid;
	border-color: white;
}
#Window{
	background-size: cover;
	background-image: url('banner.jpg');
	height: 100%;
	right: 0px;
	top:10%;
	width: 75%;
	text-align: center;
	z-index: -1;
	position: absolute;
	transition: left 1s;
}
.serviceItem:hover{
	background-color: #6A6666;
	outline: 1px white;
}
#icon{
	transition: padding 1s;
}
#icon:hover{
	background-color: white;
	border-radius: 50%;
	padding: 20px;
}
.txt{
	display: block;
	padding: 5px;
	margin-top: 10px;
	margin-left: 40%;
	border-radius: 10px;
}
.txt:first-child{
	margin-top: 50%;
}